.right-menu {
      top: 0px;
      position: absolute;
      right: 32px;
}

.work-bench {
      font-size: small;
      font-weight: 400;
      color: black;
      margin-right: 32px;
}

.header-menu-container {
      background-color: white;
}

.platform-title {
      margin-left: 32px;
      font-size: large;
      font-weight: 400;
      color: black;
}

.tab-title {
      font-size: small;
      font-weight: 400;
      color: grey;
}

.right-menu {
      top: 0px;
      position: absolute;
      right: 32px;
}