
.body-container{
      width: 960px;
      height: 540px;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      margin: auto;
}

.animation-container {
      width: 960px;
      height: 540px;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      margin: auto;
}

.login-action-container{
      background-color:transparent;
      width: 360px;
      height: 270px;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      margin: auto;
      padding: 32px;
}

.input{
      width: 300px;
      height: 32px;   
      margin-top: 16px;
}

.button{
      background-color: #0392cf;
      width: 300px;
      height: 44px; 
      margin-top: 32px;  
}