.body-container {
      width: 67.7%;
      text-align: center;
      background-color: wheat;
}

.title-container {
      width: 100%;
      text-align:start;
      background-color: white;
      font-size: large;
      margin-bottom: 16px;
      color:blue;
}